@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;   
}

.flashes h4 {
    line-height: 2;
}

.top{
    background-color: #efefef;
}

/* headline and image  */

main{
    background-color: #efefef;
    color: #a9a9a9;
}

img{
    margin-left: -20%;
    height: auto;
    width: 100%;
    border-radius: 20px;
    margin-top: 5%;
}

.front-text{
    padding: 70px 0;
    text-align: center;
    
    
}

.front-text h1{
    font-size: 5rem;
    font-weight: lighter;
    margin-bottom: 50%;

}

.front-text p{
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    
}

/* subscription overview */

.overview{
    margin-top: 5%;
}

.overview h3{
    margin-bottom: 2%;
}

.card{
    background-color: #379683;
    box-shadow: 5px 5px 5px 5px #379683;
    color: #efefef;
}


.price{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow: #8ee4af;
    margin-left: 5%;
}


.card-link-1{
    background-color: #05386b;
    padding: 5% 5% 5% 5%;
    margin: 3%;
    text-decoration: none;
    color: #edf5e1;
    border-radius: 15px;
}

.card-link-1:hover{
    background-color: #edf5e1;
    color: #05386b;
}

.card-link{
    font-weight: bolder;
}

.about{
    box-shadow: 5px 5px 5px 5px #FF476F;;
   margin-top: 5%;
   margin-bottom: 5%;
   border-radius: 15px;
   color: #FF476F;
}


/* reviews */

.review{
    box-shadow: 5px 5px 5px 5px #379683;
    margin-bottom: 2%;
}

.reviews{
    display: inline-block;
}



/* signup form */

.register-main{
    background-image: url('/static/image/nootbook.jpg');
}

.signup-header{
    margin: auto;
    width: 50%;
}

.card-panel{
    height: 70vh;
    margin: auto;
    width: 50%;
    box-shadow: 2px 2px 2px 2px;
    margin-bottom: 5%;
}

.name{
    text-align: center;
}


.name i{
    font-size: larger;
    color: #FF476F;
    
}

input#username.validate{
    width: 75%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 2%;
}

input#username.validate:hover{
    color: #FF476F;
}

.password{
    text-align: center;
}

.password i{
    font-size: larger;
    color: #FF476F;
    padding: 2px 2px 2px 2px;
}

input#password.validate{
    width: 75%;
    height: 40px;
}

input#password.validate:hover{
    color: #FF476F;
}

button.signup-btn{
    border-radius: 50px;
    width: 75%;
    margin: auto;
    margin-top: 5%;
}

button.signup-btn:hover{
    background-color: #FF476F;
}

.already-acc{
    margin: auto;
    width: 50%;
    text-align: center;
}

/* sign In */
.signin-main{
    background-image: url('/static/image/nootbook.jpg');
}

.input-field{
    align-items: center;
}


/* Add task */

.add-task{
    text-align: center;
}

/* footer */

footer{
    background-color: #efefef;
    color: #FF476F;
}

.social-media {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.social-media li{
    display: inline-block;
    font-size: 2.5rem;
    padding-left: 15px;
    text-decoration: none;
    cursor: pointer;
}
.social-media li a{
    color: #FF476F;
}
