{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ url_for('static', filename='image/photo-by-ann-danilina-on-unsplash.jpg')}}" alt="family">
        </div>
        <div class="col-md-4 front-text">
            <h1>Plan your life</h1>
            <p>And get time for what really matters</p>
        </div>
    </div>
</div>

<div class="row col-sm-12 col-md-12 text-center overview">
    <h3>We offer different of subscriptions to fit into your style</h3>
    <div class="card" style="width: 25%;">
        <div class="card-body">
          <h5 class="card-title">Personal account</h5>
          <h6 class="card-subtitle mb-2 text-muted">For 1 person</h6>
          <p class="card-text">
              Create unlimted tasks
              <br>
              Access your account on Desktop, Tablet or Mobile 
              <br>
              Delete and update your tasks
          </p>
          <a href="#" class="card-link">Sign Up</a>
          <a href="#" class="card-link">£5 per month</a>
        </div>
      </div>
      <div class="card" style="width: 25%;">
        <div class="card-body">
          <h5 class="card-title">family account</h5>
          <h6 class="card-subtitle mb-2 text-muted">Up to 4 people</h6>
          <p class="card-text">
              Same as Personal account
              <br>
              See who has created what
              <br>
              Get one admin account to delete all tasks
          </p>
          <a href="#" class="card-link">Sign Up</a>
          <a href="#" class="card-link">£15 per month</a>
        </div>
      </div>
      <div class="card" style="width: 25%;">
        <div class="card-body">
          <h5 class="card-title">Add extra person</h5>
          <h6 class="card-subtitle mb-2 text-muted">For 1 person</h6>
          <p class="card-text">
              If needed you can always another person to your plan
          </p>
          <a href="#" class="card-link">Sign Up</a>
          <a href="#" class="card-link">£2,5 per month</a>
        </div>
      </div>
</div>

<div class="col-md-6 col-sm-6 about text-center offset-md-3">
    <h4>What is planner.io?</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, temporibus assumenda a iure accusamus magnam praesentium perferendis voluptatibus, 
        quos totam autem neque facilis mollitia incidunt inventore reprehenderit, hic repellendus adipisci maiores porro! Exercitationem illum sint esse rerum. 
        Libero quam commodi deserunt laborum nam dolor atque cupiditate, veritatis magnam dolore quos.
    </p>
</div>
{% endblock %}