{% extends "base.html" %}
{% block content %}

<h3>All Tasks</h3>
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        First
        </a>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Second
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
        This will display the different tasks a user have created
        </div>
    </div>
{% endblock %}